    <!-- BEGIN: Breadcrumb -->
    <div class="mb-5">
      <ul class="m-0 p-0 list-none">
        <li class="inline-block relative top-[3px] text-base text-primary-500 font-Inter ">
          <a href="index.html">
            <iconify-icon icon="heroicons-outline:home"></iconify-icon>
            <iconify-icon icon="heroicons-outline:chevron-right" class="relative text-slate-500 text-sm rtl:rotate-180"></iconify-icon>
          </a>
        </li>
        <li class="inline-block relative text-sm text-primary-500 font-Inter ">
          Forms
          <iconify-icon icon="heroicons-outline:chevron-right" class="relative top-[3px] text-slate-500 rtl:rotate-180"></iconify-icon>
        </li>
        <li class="inline-block relative text-sm text-slate-500 font-Inter dark:text-white">
          Radio Button</li>
      </ul>
    </div>
    <!-- END: BreadCrumb -->
    <div class="space-y-6">
      <div class="card">
        <div class="card-body flex flex-col p-6">
          <header class="flex mb-5 items-center border-b border-slate-100 dark:border-slate-700 pb-5 -mx-6 px-6">
            <div class="flex-1">
              <div class="card-title text-slate-900 dark:text-white">Radio Button</div>
            </div>
          </header>
          <div class="card-text h-full space-y-4">
            <div class="flex items-center space-x-7 flex-wrap">
              <div class="basicRadio">
                <label class="flex items-center cursor-pointer">
                  <input type="radio" class="hidden" name="basicradios" value="secondary-500" checked="checked">
                  <span class="flex-none bg-white dark:bg-slate-500 rounded-full border inline-flex ltr:mr-2 rtl:ml-2 relative transition-all
                            duration-150 h-[16px] w-[16px] border-slate-400 dark:border-slate-600 dark:ring-slate-700"></span>
                  <span class="text-secondary-500 text-sm leading-6 capitalize">Checked</span>
                </label>
              </div>
              <div class="basicRadio">
                <label class="flex items-center cursor-pointer">
                  <input type="radio" class="hidden" name="basicradios" value="secondary-500">
                  <span class="flex-none bg-white dark:bg-slate-500 rounded-full border inline-flex ltr:mr-2 rtl:ml-2 relative transition-all
                                duration-150 h-[16px] w-[16px] border-slate-400 dark:border-slate-600 dark:ring-slate-700"></span>
                  <span class="text-secondary-500 text-sm leading-6 capitalize">Unchecked</span>
                </label>
              </div>
              <div class="basicRadio">
                <label class="flex items-center cursor-not-allowed">
                  <input type="radio" class="hidden" name="diasbaledradio" value="secondary-500" checked="checked" disabled="disabled">
                  <span class="flex-none bg-white dark:bg-slate-500 rounded-full border inline-flex ltr:mr-2 rtl:ml-2 relative transition-all
                                    duration-150 h-[16px] w-[16px] border-slate-400 dark:border-slate-600 dark:ring-slate-700"></span>
                  <span class="text-secondary-500 text-sm leading-6 capitalize">Checked</span>
                </label>
              </div>
              <div class="basicRadio">
                <label class="flex items-center cursor-not-allowed">
                  <input type="radio" class="hidden" name="diasbaledradio" value="secondary-500" disabled="disabled">
                  <span class="flex-none bg-white dark:bg-slate-500 rounded-full border inline-flex ltr:mr-2 rtl:ml-2 relative transition-all
                                        duration-150 h-[16px] w-[16px] border-slate-400 dark:border-slate-600 dark:ring-slate-700"></span>
                  <span class="text-secondary-500 text-sm leading-6 capitalize">Unchecked</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body flex flex-col p-6">
          <header class="flex mb-5 items-center border-b border-slate-100 dark:border-slate-700 pb-5 -mx-6 px-6">
            <div class="flex-1">
              <div class="card-title text-slate-900 dark:text-white">Color Radio Button</div>
            </div>
          </header>
          <div class="card-text h-full space-y-4">
            <div class="flex items-center space-x-7 flex-wrap">


              <div class="primary-radio">
                <label class="flex items-center cursor-pointer">
                  <input type="radio" class="hidden" name="coloredRadio" value="primary-500" checked="checked">
                  <span class="flex-none bg-white dark:bg-slate-500 rounded-full border inline-flex ltr:mr-2 rtl:ml-2 relative transition-all
                                                duration-150 h-[16px] w-[16px] border-slate-400 dark:border-slate-600 dark:ring-slate-700"></span>
                  <span class="text-primary-500 text-sm leading-6 capitalize">primary</span>
                </label>
              </div>

              <div class="secondary-radio">
                <label class="flex items-center cursor-pointer">
                  <input type="radio" class="hidden" name="coloredRadio" value="secondary-500" checked="checked">
                  <span class="flex-none bg-white dark:bg-slate-500 rounded-full border inline-flex ltr:mr-2 rtl:ml-2 relative transition-all
                                                duration-150 h-[16px] w-[16px] border-slate-400 dark:border-slate-600 dark:ring-slate-700"></span>
                  <span class="text-secondary-500 text-sm leading-6 capitalize">secondary</span>
                </label>
              </div>

              <div class="info-radio">
                <label class="flex items-center cursor-pointer">
                  <input type="radio" class="hidden" name="coloredRadio" value="info-500" checked="checked">
                  <span class="flex-none bg-white dark:bg-slate-500 rounded-full border inline-flex ltr:mr-2 rtl:ml-2 relative transition-all
                                                duration-150 h-[16px] w-[16px] border-slate-400 dark:border-slate-600 dark:ring-slate-700"></span>
                  <span class="text-info-500 text-sm leading-6 capitalize">info</span>
                </label>
              </div>

              <div class="success-radio">
                <label class="flex items-center cursor-pointer">
                  <input type="radio" class="hidden" name="coloredRadio" value="success-500" checked="checked">
                  <span class="flex-none bg-white dark:bg-slate-500 rounded-full border inline-flex ltr:mr-2 rtl:ml-2 relative transition-all
                                                duration-150 h-[16px] w-[16px] border-slate-400 dark:border-slate-600 dark:ring-slate-700"></span>
                  <span class="text-success-500 text-sm leading-6 capitalize">success</span>
                </label>
              </div>

              <div class="warning-radio">
                <label class="flex items-center cursor-pointer">
                  <input type="radio" class="hidden" name="coloredRadio" value="warning-500" checked="checked">
                  <span class="flex-none bg-white dark:bg-slate-500 rounded-full border inline-flex ltr:mr-2 rtl:ml-2 relative transition-all
                                                duration-150 h-[16px] w-[16px] border-slate-400 dark:border-slate-600 dark:ring-slate-700"></span>
                  <span class="text-warning-500 text-sm leading-6 capitalize">warning</span>
                </label>
              </div>

              <div class="danger-radio">
                <label class="flex items-center cursor-pointer">
                  <input type="radio" class="hidden" name="coloredRadio" value="danger-500" checked="checked">
                  <span class="flex-none bg-white dark:bg-slate-500 rounded-full border inline-flex ltr:mr-2 rtl:ml-2 relative transition-all
                                                duration-150 h-[16px] w-[16px] border-slate-400 dark:border-slate-600 dark:ring-slate-700"></span>
                  <span class="text-danger-500 text-sm leading-6 capitalize">danger</span>
                </label>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body flex flex-col p-6">
          <header class="flex mb-5 items-center border-b border-slate-100 dark:border-slate-700 pb-5 -mx-6 px-6">
            <div class="flex-1">
              <div class="card-title text-slate-900 dark:text-white">Array Radio Button</div>
            </div>
          </header>
          <div class="card-text h-full space-y-4">
            <div class="space-y-2">
              <div class="secondary-radio">
                <label class="flex items-center cursor-pointer  ">
                  <input type="radio" class="hidden" name="arrayRadio[]" value="Apple">
                  <span class="flex-none bg-white dark:bg-slate-500 rounded-full border inline-flex ltr:mr-2 rtl:ml-2 relative transition-all
                                                duration-150 h-[16px] w-[16px] border-slate-400 dark:border-slate-600 dark:ring-slate-700"></span>
                  <span class="text-slate-900 font-Inter font-normal text-sm leading-6 capitalize dark:text-slate-300">Apple</span>
                </label>
              </div>
              <div class="secondary-radio">
                <label class="flex items-center cursor-pointer  ">
                  <input type="radio" class="hidden" name="arrayRadio[]" value="Banana">
                  <span class="flex-none bg-white dark:bg-slate-500 rounded-full border inline-flex ltr:mr-2 rtl:ml-2 relative transition-all
                                                    duration-150 h-[16px] w-[16px] border-slate-400 dark:border-slate-600 dark:ring-slate-700"></span>
                  <span class="text-slate-900 font-Inter font-normal text-sm leading-6 capitalize dark:text-slate-300">Banana</span>
                </label>
              </div>
              <div class="secondary-radio">
                <label class="flex items-center cursor-pointer  ">
                  <input type="radio" class="hidden" name="arrayRadio[]" value="Orange">
                  <span class="flex-none bg-white dark:bg-slate-500 rounded-full border inline-flex ltr:mr-2 rtl:ml-2 relative transition-all
                                                        duration-150 h-[16px] w-[16px] border-slate-400 dark:border-slate-600 dark:ring-slate-700"></span>
                  <span class="text-slate-900 font-Inter font-normal text-sm leading-6 capitalize dark:text-slate-300">Orange</span>
                </label>
              </div>
            </div>
            <p>Selected Items: [<span id="radioSelectedItems"></span>]
            </p>
          </div>
        </div>
      </div>
    </div>
