
    <!-- BEGIN: Breadcrumb -->
    <div class="mb-5">
      <ul class="m-0 p-0 list-none">
        <li class="inline-block relative top-[3px] text-base text-primary-500 font-Inter ">
          <a href="index.html">
            <iconify-icon icon="heroicons-outline:home"></iconify-icon>
            <iconify-icon icon="heroicons-outline:chevron-right" class="relative text-slate-500 text-sm rtl:rotate-180"></iconify-icon>
          </a>
        </li>
        <li class="inline-block relative text-sm text-primary-500 font-Inter ">
          Table
          <iconify-icon icon="heroicons-outline:chevron-right" class="relative top-[3px] text-slate-500 rtl:rotate-180"></iconify-icon>
        </li>
        <li class="inline-block relative text-sm text-slate-500 font-Inter dark:text-white">
          Basic-Table</li>
      </ul>
    </div>
    <!-- END: BreadCrumb -->


    <div class="grid xl:grid-cols-2 grid-cols-1 gap-5">
      <!-- BEGIN: Basic Table -->
      <div class="card">
        <header class=" card-header noborder">
          <h4 class="card-title">Basic Table
          </h4>
        </header>
        <div class="card-body px-6 pb-6">
          <div class="overflow-x-auto -mx-6">
            <div class="inline-block min-w-full align-middle">
              <div class="overflow-hidden ">
                <table class="min-w-full divide-y divide-slate-100 table-fixed dark:divide-slate-700">
                  <thead class=" border-t border-slate-100 dark:border-slate-800">
                    <tr>

                      <th scope="col" class=" table-th ">
                        Age
                      </th>

                      <th scope="col" class=" table-th ">
                        First Name
                      </th>

                      <th scope="col" class=" table-th ">
                        Email
                      </th>

                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-slate-100 dark:bg-slate-800 dark:divide-slate-700">

                    <tr>
                      <td class="table-td">82</td>
                      <td class="table-td">Dorelle</td>
                      <td class="table-td ">dharling0@rediff.com</td>
                    </tr>

                    <tr>
                      <td class="table-td">89</td>
                      <td class="table-td">Bendicty</td>
                      <td class="table-td ">bllewellin1@example.com</td>
                    </tr>

                    <tr>
                      <td class="table-td">28</td>
                      <td class="table-td">Remy</td>
                      <td class="table-td ">rcarbry2@prlog.org</td>
                    </tr>

                    <tr>
                      <td class="table-td">20</td>
                      <td class="table-td">Bernardo</td>
                      <td class="table-td ">bhacun3@xinhuanet.com</td>
                    </tr>

                    <tr>
                      <td class="table-td">2</td>
                      <td class="table-td">Emelia</td>
                      <td class="table-td ">egarstang4@miitbeian.gov.cn</td>
                    </tr>

                    <tr>
                      <td class="table-td">98</td>
                      <td class="table-td">Dian</td>
                      <td class="table-td ">ddopson5@examiner.com</td>
                    </tr>

                    <tr>
                      <td class="table-td">17</td>
                      <td class="table-td">Coretta</td>
                      <td class="table-td ">cponter6@loc.gov</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END: Basic Table -->

      <!-- BEGIN: Table Header -->
      <div class="card">
        <header class=" card-header noborder">
          <h4 class="card-title">Table Head
          </h4>
        </header>
        <div class="card-body px-6 pb-6">
          <div class="overflow-x-auto -mx-6">
            <div class="inline-block min-w-full align-middle">
              <div class="overflow-hidden ">
                <table class="min-w-full divide-y divide-slate-100 table-fixed dark:divide-slate-700">
                  <thead class="bg-slate-200 dark:bg-slate-700">
                    <tr>

                      <th scope="col" class=" table-th ">
                        Age
                      </th>

                      <th scope="col" class=" table-th ">
                        First Name
                      </th>

                      <th scope="col" class=" table-th ">
                        Email
                      </th>

                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-slate-100 dark:bg-slate-800 dark:divide-slate-700">

                    <tr>
                      <td class="table-td">82</td>
                      <td class="table-td">Dorelle</td>
                      <td class="table-td ">dharling0@rediff.com</td>
                    </tr>

                    <tr>
                      <td class="table-td">89</td>
                      <td class="table-td">Bendicty</td>
                      <td class="table-td ">bllewellin1@example.com</td>
                    </tr>

                    <tr>
                      <td class="table-td">28</td>
                      <td class="table-td">Remy</td>
                      <td class="table-td ">rcarbry2@prlog.org</td>
                    </tr>

                    <tr>
                      <td class="table-td">20</td>
                      <td class="table-td">Bernardo</td>
                      <td class="table-td ">bhacun3@xinhuanet.com</td>
                    </tr>

                    <tr>
                      <td class="table-td">2</td>
                      <td class="table-td">Emelia</td>
                      <td class="table-td ">egarstang4@miitbeian.gov.cn</td>
                    </tr>

                    <tr>
                      <td class="table-td">98</td>
                      <td class="table-td">Dian</td>
                      <td class="table-td ">ddopson5@examiner.com</td>
                    </tr>

                    <tr>
                      <td class="table-td">17</td>
                      <td class="table-td">Coretta</td>
                      <td class="table-td ">cponter6@loc.gov</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END: Table Header -->

      <!-- BEGIN: Bordered Table -->
      <div class="card">
        <header class=" card-header noborder">
          <h4 class="card-title">Bordered Table
          </h4>
        </header>
        <div class="card-body px-6 pb-6">
          <div class="overflow-x-auto ">
            <div class="inline-block min-w-full align-middle">
              <div class="overflow-hidden ">
                <table class="min-w-full divide-y divide-slate-100 table-fixed dark:divide-slate-700">
                  <thead class="">
                    <tr>

                      <th scope="col" class=" table-th border border-slate-100 dark:bg-slate-800 dark:border-slate-700 ">
                        Age
                      </th>

                      <th scope="col" class=" table-th border border-slate-100 dark:bg-slate-800 dark:border-slate-700 ">
                        First Name
                      </th>

                      <th scope="col" class=" table-th border border-slate-100 dark:bg-slate-800 dark:border-slate-700 ">
                        Email
                      </th>

                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-slate-100 dark:bg-slate-800 dark:divide-slate-700">

                    <tr>
                      <td class="table-td border border-slate-100 dark:bg-slate-800 dark:border-slate-700">82</td>
                      <td class="table-td border border-slate-100 dark:bg-slate-800 dark:border-slate-700">Dorelle</td>
                      <td class="table-td border border-slate-100 dark:bg-slate-800 dark:border-slate-700 ">dharling0@rediff.com</td>
                    </tr>

                    <tr>
                      <td class="table-td border border-slate-100 dark:bg-slate-800 dark:border-slate-700">89</td>
                      <td class="table-td border border-slate-100 dark:bg-slate-800 dark:border-slate-700">Bendicty</td>
                      <td class="table-td border border-slate-100 dark:bg-slate-800 dark:border-slate-700 ">bllewellin1@example.com</td>
                    </tr>

                    <tr>
                      <td class="table-td border border-slate-100 dark:bg-slate-800 dark:border-slate-700">28</td>
                      <td class="table-td border border-slate-100 dark:bg-slate-800 dark:border-slate-700">Remy</td>
                      <td class="table-td border border-slate-100 dark:bg-slate-800 dark:border-slate-700 ">rcarbry2@prlog.org</td>
                    </tr>

                    <tr>
                      <td class="table-td border border-slate-100 dark:bg-slate-800 dark:border-slate-700">20</td>
                      <td class="table-td border border-slate-100 dark:bg-slate-800 dark:border-slate-700">Bernardo</td>
                      <td class="table-td border border-slate-100 dark:bg-slate-800 dark:border-slate-700 ">bhacun3@xinhuanet.com</td>
                    </tr>

                    <tr>
                      <td class="table-td border border-slate-100 dark:bg-slate-800 dark:border-slate-700">2</td>
                      <td class="table-td border border-slate-100 dark:bg-slate-800 dark:border-slate-700">Emelia</td>
                      <td class="table-td border border-slate-100 dark:bg-slate-800 dark:border-slate-700 ">egarstang4@miitbeian.gov.cn</td>
                    </tr>

                    <tr>
                      <td class="table-td border border-slate-100 dark:bg-slate-800 dark:border-slate-700">98</td>
                      <td class="table-td border border-slate-100 dark:bg-slate-800 dark:border-slate-700">Dian</td>
                      <td class="table-td border border-slate-100 dark:bg-slate-800 dark:border-slate-700 ">ddopson5@examiner.com</td>
                    </tr>

                    <tr>
                      <td class="table-td border border-slate-100 dark:bg-slate-800 dark:border-slate-700">17</td>
                      <td class="table-td border border-slate-100 dark:bg-slate-800 dark:border-slate-700">Coretta</td>
                      <td class="table-td border border-slate-100 dark:bg-slate-800 dark:border-slate-700 ">cponter6@loc.gov</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END: Bordered Table -->

      <!-- BEGIN: Borderless Table -->
      <div class="card">
        <header class=" card-header noborder">
          <h4 class="card-title">Borderless Table
          </h4>
        </header>
        <div class="card-body px-6 pb-6">
          <div class="overflow-x-auto ">
            <div class="inline-block min-w-full align-middle">
              <div class="overflow-hidden ">
                <table class="min-w-full divide-y divide-slate-100 table-fixed dark:divide-slate-700">
                  <thead class="">
                    <tr>

                      <th scope="col" class=" table-th ">
                        Age
                      </th>

                      <th scope="col" class=" table-th ">
                        First Name
                      </th>

                      <th scope="col" class=" table-th ">
                        Email
                      </th>

                    </tr>
                  </thead>
                  <tbody class="bg-white dark:bg-slate-800 ">

                    <tr>
                      <td class="table-td ">82</td>
                      <td class="table-td ">Dorelle</td>
                      <td class="table-td  ">dharling0@rediff.com</td>
                    </tr>

                    <tr>
                      <td class="table-td ">89</td>
                      <td class="table-td ">Bendicty</td>
                      <td class="table-td  ">bllewellin1@example.com</td>
                    </tr>

                    <tr>
                      <td class="table-td ">28</td>
                      <td class="table-td ">Remy</td>
                      <td class="table-td  ">rcarbry2@prlog.org</td>
                    </tr>

                    <tr>
                      <td class="table-td ">20</td>
                      <td class="table-td ">Bernardo</td>
                      <td class="table-td  ">bhacun3@xinhuanet.com</td>
                    </tr>

                    <tr>
                      <td class="table-td ">2</td>
                      <td class="table-td ">Emelia</td>
                      <td class="table-td  ">egarstang4@miitbeian.gov.cn</td>
                    </tr>

                    <tr>
                      <td class="table-td ">98</td>
                      <td class="table-td ">Dian</td>
                      <td class="table-td  ">ddopson5@examiner.com</td>
                    </tr>

                    <tr>
                      <td class="table-td ">17</td>
                      <td class="table-td ">Coretta</td>
                      <td class="table-td  ">cponter6@loc.gov</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END: Borderless Table -->

      <!-- BEGIN: Striped Tables -->
      <div class="card">
        <header class=" card-header noborder">
          <h4 class="card-title">Striped Rows
          </h4>
        </header>
        <div class="card-body px-6 pb-6">
          <div class="overflow-x-auto -mx-6">
            <div class="inline-block min-w-full align-middle">
              <div class="overflow-hidden ">
                <table class="min-w-full divide-y divide-slate-100 table-fixed dark:divide-slate-700">
                  <thead class="bg-slate-200 dark:bg-slate-700">
                    <tr>

                      <th scope="col" class=" table-th ">
                        Age
                      </th>

                      <th scope="col" class=" table-th ">
                        First Name
                      </th>

                      <th scope="col" class=" table-th ">
                        Email
                      </th>

                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-slate-100 dark:bg-slate-800 dark:divide-slate-700">

                    <tr class="even:bg-slate-50 dark:even:bg-slate-700">
                      <td class="table-td">82</td>
                      <td class="table-td">Dorelle</td>
                      <td class="table-td ">dharling0@rediff.com</td>
                    </tr>

                    <tr class="even:bg-slate-50 dark:even:bg-slate-700">
                      <td class="table-td">89</td>
                      <td class="table-td">Bendicty</td>
                      <td class="table-td ">bllewellin1@example.com</td>
                    </tr>

                    <tr class="even:bg-slate-50 dark:even:bg-slate-700">
                      <td class="table-td">28</td>
                      <td class="table-td">Remy</td>
                      <td class="table-td ">rcarbry2@prlog.org</td>
                    </tr>

                    <tr class="even:bg-slate-50 dark:even:bg-slate-700">
                      <td class="table-td">20</td>
                      <td class="table-td">Bernardo</td>
                      <td class="table-td ">bhacun3@xinhuanet.com</td>
                    </tr>

                    <tr class="even:bg-slate-50 dark:even:bg-slate-700">
                      <td class="table-td">2</td>
                      <td class="table-td">Emelia</td>
                      <td class="table-td ">egarstang4@miitbeian.gov.cn</td>
                    </tr>

                    <tr class="even:bg-slate-50 dark:even:bg-slate-700">
                      <td class="table-td">98</td>
                      <td class="table-td">Dian</td>
                      <td class="table-td ">ddopson5@examiner.com</td>
                    </tr>

                    <tr class="even:bg-slate-50 dark:even:bg-slate-700">
                      <td class="table-td">17</td>
                      <td class="table-td">Coretta</td>
                      <td class="table-td ">cponter6@loc.gov</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END: Striped Tables -->

      <!-- BEGIN: Hover Tables -->
      <div class="card">
        <header class=" card-header noborder">
          <h4 class="card-title">Hover Table
          </h4>
        </header>
        <div class="card-body px-6 pb-6">
          <div class="overflow-x-auto -mx-6">
            <div class="inline-block min-w-full align-middle">
              <div class="overflow-hidden ">
                <table class="min-w-full divide-y divide-slate-100 table-fixed dark:divide-slate-700">
                  <thead class="bg-slate-200 dark:bg-slate-700">
                    <tr>

                      <th scope="col" class=" table-th ">
                        Age
                      </th>

                      <th scope="col" class=" table-th ">
                        First Name
                      </th>

                      <th scope="col" class=" table-th ">
                        Email
                      </th>

                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-slate-100 dark:bg-slate-800 dark:divide-slate-700">

                    <tr class="hover:bg-slate-200 dark:hover:bg-slate-700">
                      <td class="table-td">82</td>
                      <td class="table-td">Dorelle</td>
                      <td class="table-td ">dharling0@rediff.com</td>
                    </tr>

                    <tr class="hover:bg-slate-200 dark:hover:bg-slate-700">
                      <td class="table-td">89</td>
                      <td class="table-td">Bendicty</td>
                      <td class="table-td ">bllewellin1@example.com</td>
                    </tr>

                    <tr class="hover:bg-slate-200 dark:hover:bg-slate-700">
                      <td class="table-td">28</td>
                      <td class="table-td">Remy</td>
                      <td class="table-td ">rcarbry2@prlog.org</td>
                    </tr>

                    <tr class="hover:bg-slate-200 dark:hover:bg-slate-700">
                      <td class="table-td">20</td>
                      <td class="table-td">Bernardo</td>
                      <td class="table-td ">bhacun3@xinhuanet.com</td>
                    </tr>

                    <tr class="hover:bg-slate-200 dark:hover:bg-slate-700">
                      <td class="table-td">2</td>
                      <td class="table-td">Emelia</td>
                      <td class="table-td ">egarstang4@miitbeian.gov.cn</td>
                    </tr>

                    <tr class="hover:bg-slate-200 dark:hover:bg-slate-700">
                      <td class="table-td">98</td>
                      <td class="table-td">Dian</td>
                      <td class="table-td ">ddopson5@examiner.com</td>
                    </tr>

                    <tr class="hover:bg-slate-200 dark:hover:bg-slate-700">
                      <td class="table-td">17</td>
                      <td class="table-td">Coretta</td>
                      <td class="table-td ">cponter6@loc.gov</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END: Hover Tables -->
    </div>
