                <div class="flex md:space-x-5 app_height overflow-hidden relative rtl:space-x-reverse">
                  <div class="todo-sidebar ">
                    <div class="h-full card">
                      <div class="card-body py-6 h-full flex flex-col">
                        <div class="flex-1 h-full px-6">
                          <button class="btn inline-flex justify-center btn-dark w-full" data-bs-toggle="modal" data-bs-target="#newTodoModal">
                            <span class="flex items-center">
                                <iconify-icon class="text-xl ltr:mr-2 rtl:ml-2" icon="ph:plus-bold"></iconify-icon>
                                <span>Add Task</span>
                            </span>
                          </button>
                        </div>
                        <div class="h-full px-6 " data-simplebar="data-simplebar">
                          <ul class="todo-categories list mt-6">

                            <!-- BEGIN: Top Filter -->

                            <li class="active email-categorie-list" data-status="all">
                              <label>
                                <span class="flex-1 flex space-x-2 rtl:space-x-reverse">
                <span class="text-xl leading-[1]">
                    <iconify-icon icon="uil:image-v"></iconify-icon>
                </span>
                                <span class="capitalize text-sm">
                  Inbox
                </span>
                                </span>

                              </label>
                            </li>

                            <li class="email-categorie-list" data-status="stared">
                              <label>
                                <span class="flex-1 flex space-x-2 rtl:space-x-reverse">
                <span class="text-xl">
                    <iconify-icon icon=heroicons:star></iconify-icon>
                </span>
                                <span class="capitalize text-sm">
                    Stared
                </span>
                                </span>

                              </label>
                            </li>

                            <li class="email-categorie-list" data-status="done">
                              <label>
                                <span class="flex-1 flex space-x-2 rtl:space-x-reverse">
                <span class="text-xl">
                    <iconify-icon icon=heroicons:document-check></iconify-icon>
                </span>
                                <span class="capitalize text-sm">
                    Completed
                </span>
                                </span>

                              </label>
                            </li>

                            <li class="email-categorie-list" data-status="trash">
                              <label>
                                <span class="flex-1 flex space-x-2 rtl:space-x-reverse">
                <span class="text-xl">
                    <iconify-icon icon=heroicons:trash></iconify-icon>
                </span>
                                <span class="capitalize text-sm">
                    Trash
                </span>
                                </span>

                              </label>
                            </li>

                            <!-- END: Top Filter -->
                          </ul>
                          <div class="block py-4 text-slate-800 dark:text-slate-400 font-semibold text-xs uppercase">
                            Tags
                          </div>
                          <ul class="todo-categories list">

                            <!-- BEGIN: Bottom Filter -->


                            <li data-status="team" class="flex space-x-2 text-sm capitalize dark:text-slate-300 py-2 cursor-pointer items-center rtl:space-x-reverse email-categorie-list">
                              <span class="bar-c  bg-danger-500 ring-danger-500  inline-block h-2
      w-2 rounded-full ring-opacity-30 transition-all duration-150 "></span>
                              <span class="transition duration-150">Team</span>
                            </li>

                            <li data-status="low" class="flex space-x-2 text-sm capitalize dark:text-slate-300 py-2 cursor-pointer items-center rtl:space-x-reverse email-categorie-list">
                              <span class="bar-c  bg-success-500
      ring-success-500  inline-block h-2
      w-2 rounded-full ring-opacity-30 transition-all duration-150 "></span>
                              <span class="transition duration-150">low</span>
                            </li>

                            <li data-status="medium" class="flex space-x-2 text-sm capitalize dark:text-slate-300 py-2 cursor-pointer items-center rtl:space-x-reverse email-categorie-list">
                              <span class="bar-c  bg-warning-500 ring-warning-500  inline-block h-2
      w-2 rounded-full ring-opacity-30 transition-all duration-150 "></span>
                              <span class="transition duration-150">medium</span>
                            </li>

                            <li data-status="high" class="flex space-x-2 text-sm capitalize dark:text-slate-300 py-2 cursor-pointer items-center rtl:space-x-reverse email-categorie-list">
                              <span class="bar-c 
      bg-primary-500 ring-primary-500  inline-block h-2
      w-2 rounded-full ring-opacity-30 transition-all duration-150 "></span>
                              <span class="transition duration-150">high</span>
                            </li>

                            <li data-status="update" class="flex space-x-2 text-sm capitalize dark:text-slate-300 py-2 cursor-pointer items-center rtl:space-x-reverse email-categorie-list">
                              <span class="bar-c  bg-info-500 ring-info-500  inline-block h-2
      w-2 rounded-full ring-opacity-30 transition-all duration-150 "></span>
                              <span class="transition duration-150">update</span>
                            </li>

                            <!-- END: Bottom Filter -->
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="todo-overlay"></div>
                  <div class="flex-1 md:w-[calc(100%-320px)]">
                    <div class="h-full card">
                      <div class="p-0  h-full relative card-body">

                        <!-- BEGIN: Todo Header -->
                        <div class="md:flex justify-between items-center sticky bg-white dark:bg-slate-800 top-0 pt-6 pb-4 px-6 z-[3] border-b
        border-slate-100 dark:border-slate-700 rounded-t-md">
                          <div class="flex items-center rtl:space-x-reverse">
                            <div class="open-sidebar md:h-8 md:w-8 h-6 w-6 bg-slate-100 dark:bg-slate-900 dark:text-slate-400 flex flex-col justify-center
                items-center ltr:mr-3 rlt:ml-3 lg:hidden md:text-base text-sm rounded-full cursor-pointer">
                              <iconify-icon icon="heroicons-outline:menu-alt-2"></iconify-icon>
                            </div>
                            <div class="max-w-[180px] flex items-center space-x-1 rtl:space-x-reverse leading-[0]">
                              <div class="dark:text-slate-300">
                                <iconify-icon icon="heroicons-outline:search"></iconify-icon>
                              </div>
                              <div>
                                <input type="text" id="todo-search" placeholder="Search Email" class="bg-transparent text-sm font-regular text-slate-600 dark:text-slate-300 transition duration-150 rounded px-2 py-1
                        focus:outline-none">
                              </div>
                            </div>
                          </div>
                          <div class="md:block hidden">
                            <div class="relative">
                              <div class="dropdown relative">
                                <button class="text-xl text-center block w-full " type="button" id="todoDropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                  <iconify-icon icon="heroicons-outline:dots-vertical"></iconify-icon>
                                </button>
                                <ul class=" dropdown-menu min-w-[160px] absolute text-sm text-slate-700 dark:text-white hidden bg-white dark:bg-slate-700
                        shadow z-[2] float-left overflow-hidden list-none text-left rounded-lg mt-1 m-0 bg-clip-padding border-none">
                                  <li>
                                    <a href="#" class="w-full text-slate-600 dark:text-white font-Inter font-normal px-4 py-2 hover:bg-slate-100 dark:hover:bg-slate-600
                                space-x-2 rtl:space-x-reverse inline-flex items-center dark:hover:text-white">
                                      <span class=" text-lg leading-[0]"><iconify-icon icon="heroicons-outline:sort-ascending"></iconify-icon>
                            </span>
                                      <span>Reset Sort</span>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="#" class="w-full text-slate-600 dark:text-white font-Inter font-normal px-4 py-2 hover:bg-slate-100 dark:hover:bg-slate-600
                                space-x-2 rtl:space-x-reverse inline-flex items-center dark:hover:text-white">
                                      <span class=" text-lg leading-[0]"><iconify-icon icon="heroicons-outline:sort-ascending"></iconify-icon>
                            </span>
                                      <span>Sort A-Z</span>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="#" class="w-full text-slate-600 dark:text-white font-Inter font-normal px-4 py-2 hover:bg-slate-100 dark:hover:bg-slate-600
                                space-x-2 rtl:space-x-reverse inline-flex items-center dark:hover:text-white">
                                      <span class=" text-lg leading-[0]"><iconify-icon icon="heroicons-outline:sort-descending"></iconify-icon>
                            </span>
                                      <span>Sort Z-A
                            </span>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- END: Todo Header -->
                        <div class="h-full all-todos overflow-x-hidden" data-simplebar="data-simplebar">
                          <ul class="divide-y divide-slate-100 dark:divide-slate-700 -mb-6 h-full todo-list">

                            <!-- BEGIN: Todos -->


                            <li data-status="team" data-stared="false" data-complete="false" class="flex items-center px-6 space-x-4 py-6 hover:-translate-y-1 hover:shadow-todo transition-all duration-200 rtl:space-x-reverse">
                              <input type="checkbox" class="table-checkbox" name="todo-checkbox">
                              <div class="todo-fav">
                                <iconify-icon icon="heroicons:star" class="text-xl leading-[1] relative "></iconify-icon>
                              </div>
                              <span class="flex-1 text-sm text-slate-600 dark:text-slate-300 truncate bar-active transition-all duration-150">
        laboriosam mollitia et enim quasi adipisci quia provident illum
      </span>
                              <div class="flex">
                                <span class="flex-none space-x-2 text-base text-secondary-500 flex rtl:space-x-reverse">
          <div class="flex justify-start -space-x-1.5 min-w-[60px] rtl:space-x-reverse">
            
              <div class=" h-6 w-6 rounded-full ring-1 ring-secondary-500 img-active transition-all duration-150">
                <img src=assets/images/avatar/av-1.svg alt=Mahedi Amin class="w-full h-full rounded-full">
              </div>
            
              <div class=" h-6 w-6 rounded-full ring-1 ring-secondary-500 img-active transition-all duration-150">
                <img src=assets/images/avatar/av-2.svg alt=Sovo Haldar class="w-full h-full rounded-full">
              </div>
            
              <div class=" h-6 w-6 rounded-full ring-1 ring-secondary-500 img-active transition-all duration-150">
                <img src=assets/images/avatar/av-3.svg alt=Rakibul Islam class="w-full h-full rounded-full">
              </div>
            
          </div>
          
            <div>
              <span class=" bg-opacity-20 capitalize font-normal text-xs leading-4 px-[10px] py-[2px] rounded-full inline-block  bg-danger-500 text-danger-500  ">
                team
              </span>
                              </div>

                              <button type="button" class="text-slate-400" data-bs-toggle="modal" data-bs-target="#editTodoModal">
                                <iconify-icon icon="heroicons-outline:pencil-alt"></iconify-icon>
                              </button>
                              <button type="button" class="transition duration-150 hover:text-danger-500 text-slate-400  delete-button">
                                <iconify-icon icon="heroicons-outline:trash"></iconify-icon>
                              </button>
                              </span>
                        </div>
                        </li>

                        <li data-status="stared,low" data-stared="true" data-complete="false" class="flex items-center px-6 space-x-4 py-6 hover:-translate-y-1 hover:shadow-todo transition-all duration-200 rtl:space-x-reverse">
                          <input type="checkbox" class="table-checkbox" name="todo-checkbox">
                          <div class="todo-fav">
                            <iconify-icon icon="heroicons:star" class="text-xl leading-[1] relative "></iconify-icon>
                          </div>
                          <span class="flex-1 text-sm text-slate-600 dark:text-slate-300 truncate bar-active transition-all duration-150">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      </span>
                          <div class="flex">
                            <span class="flex-none space-x-2 text-base text-secondary-500 flex rtl:space-x-reverse">
          <div class="flex justify-start -space-x-1.5 min-w-[60px] rtl:space-x-reverse">
            
              <div class=" h-6 w-6 rounded-full ring-1 ring-secondary-500 img-active transition-all duration-150">
                <img src=assets/images/avatar/av-2.svg alt=Rakibul Islam class="w-full h-full rounded-full">
              </div>
            
          </div>
          
            <div>
              <span class=" bg-opacity-20 capitalize font-normal text-xs leading-4 px-[10px] py-[2px] rounded-full inline-block  bg-success-500 text-success-500  ">
                low
              </span>
                          </div>

                          <button type="button" class="text-slate-400" data-bs-toggle="modal" data-bs-target="#editTodoModal">
                            <iconify-icon icon="heroicons-outline:pencil-alt"></iconify-icon>
                          </button>
                          <button type="button" class="transition duration-150 hover:text-danger-500 text-slate-400  delete-button">
                            <iconify-icon icon="heroicons-outline:trash"></iconify-icon>
                          </button>
                          </span>
                      </div>
                      </li>

                      <li data-status="done,stared,medium,low" data-stared="true" data-complete="true" class="flex items-center px-6 space-x-4 py-6 hover:-translate-y-1 hover:shadow-todo transition-all duration-200 rtl:space-x-reverse">
                        <input type="checkbox" class="table-checkbox" name="todo-checkbox">
                        <div class="todo-fav">
                          <iconify-icon icon="heroicons:star" class="text-xl leading-[1] relative "></iconify-icon>
                        </div>
                        <span class="flex-1 text-sm text-slate-600 dark:text-slate-300 truncate bar-active transition-all duration-150">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      </span>
                        <div class="flex">
                          <span class="flex-none space-x-2 text-base text-secondary-500 flex rtl:space-x-reverse">
          <div class="flex justify-start -space-x-1.5 min-w-[60px] rtl:space-x-reverse">
            
              <div class=" h-6 w-6 rounded-full ring-1 ring-secondary-500 img-active transition-all duration-150">
                <img src=assets/images/avatar/av-1.svg alt=Sovo Haldar class="w-full h-full rounded-full">
              </div>
            
              <div class=" h-6 w-6 rounded-full ring-1 ring-secondary-500 img-active transition-all duration-150">
                <img src=assets/images/avatar/av-2.svg alt=Rakibul Islam class="w-full h-full rounded-full">
              </div>
            
          </div>
          
            <div>
              <span class=" bg-opacity-20 capitalize font-normal text-xs leading-4 px-[10px] py-[2px] rounded-full inline-block  bg-warning-500 text-warning-500  ">
                medium
              </span>
                        </div>

                        <div>
                          <span class=" bg-opacity-20 capitalize font-normal text-xs leading-4 px-[10px] py-[2px] rounded-full inline-block  bg-success-500 text-success-500  ">
                low
              </span>
                        </div>

                        <button type="button" class="text-slate-400" data-bs-toggle="modal" data-bs-target="#editTodoModal">
                          <iconify-icon icon="heroicons-outline:pencil-alt"></iconify-icon>
                        </button>
                        <button type="button" class="transition duration-150 hover:text-danger-500 text-slate-400  delete-button">
                          <iconify-icon icon="heroicons-outline:trash"></iconify-icon>
                        </button>
                        </span>
                    </div>
                    </li>

                    <li data-status="high,low" data-stared="false" data-complete="false" class="flex items-center px-6 space-x-4 py-6 hover:-translate-y-1 hover:shadow-todo transition-all duration-200 rtl:space-x-reverse">
                      <input type="checkbox" class="table-checkbox" name="todo-checkbox">
                      <div class="todo-fav">
                        <iconify-icon icon="heroicons:star" class="text-xl leading-[1] relative "></iconify-icon>
                      </div>
                      <span class="flex-1 text-sm text-slate-600 dark:text-slate-300 truncate bar-active transition-all duration-150">
        illo expedita consequatur quia in
      </span>
                      <div class="flex">
                        <span class="flex-none space-x-2 text-base text-secondary-500 flex rtl:space-x-reverse">
          <div class="flex justify-start -space-x-1.5 min-w-[60px] rtl:space-x-reverse">
            
              <div class=" h-6 w-6 rounded-full ring-1 ring-secondary-500 img-active transition-all duration-150">
                <img src=assets/images/avatar/av-3.svg alt=Mahedi Amin class="w-full h-full rounded-full">
              </div>
            
              <div class=" h-6 w-6 rounded-full ring-1 ring-secondary-500 img-active transition-all duration-150">
                <img src=assets/images/avatar/av-4.svg alt=Sovo Haldar class="w-full h-full rounded-full">
              </div>
            
              <div class=" h-6 w-6 rounded-full ring-1 ring-secondary-500 img-active transition-all duration-150">
                <img src=assets/images/avatar/av-1.svg alt=Rakibul Islam class="w-full h-full rounded-full">
              </div>
            
          </div>
          
            <div>
              <span class=" bg-opacity-20 capitalize font-normal text-xs leading-4 px-[10px] py-[2px] rounded-full inline-block  bg-primary-500
                  text-primary-500  ">
                high
              </span>
                      </div>

                      <div>
                        <span class=" bg-opacity-20 capitalize font-normal text-xs leading-4 px-[10px] py-[2px] rounded-full inline-block  bg-success-500 text-success-500  ">
                low
              </span>
                      </div>

                      <button type="button" class="text-slate-400" data-bs-toggle="modal" data-bs-target="#editTodoModal">
                        <iconify-icon icon="heroicons-outline:pencil-alt"></iconify-icon>
                      </button>
                      <button type="button" class="transition duration-150 hover:text-danger-500 text-slate-400  delete-button">
                        <iconify-icon icon="heroicons-outline:trash"></iconify-icon>
                      </button>
                      </span>
                  </div>
                  </li>

                  <li data-status="update" data-stared="false" data-complete="false" class="flex items-center px-6 space-x-4 py-6 hover:-translate-y-1 hover:shadow-todo transition-all duration-200 rtl:space-x-reverse">
                    <input type="checkbox" class="table-checkbox" name="todo-checkbox">
                    <div class="todo-fav">
                      <iconify-icon icon="heroicons:star" class="text-xl leading-[1] relative "></iconify-icon>
                    </div>
                    <span class="flex-1 text-sm text-slate-600 dark:text-slate-300 truncate bar-active transition-all duration-150">
        illo expedita consequatur quia in
      </span>
                    <div class="flex">
                      <span class="flex-none space-x-2 text-base text-secondary-500 flex rtl:space-x-reverse">
          <div class="flex justify-start -space-x-1.5 min-w-[60px] rtl:space-x-reverse">
            
              <div class=" h-6 w-6 rounded-full ring-1 ring-secondary-500 img-active transition-all duration-150">
                <img src=assets/images/avatar/av-4.svg alt=Rakibul Islam class="w-full h-full rounded-full">
              </div>
            
          </div>
          
            <div>
              <span class=" bg-opacity-20 capitalize font-normal text-xs leading-4 px-[10px] py-[2px] rounded-full inline-block  bg-info-500 text-info-500  ">
                update
              </span>
                    </div>

                    <button type="button" class="text-slate-400" data-bs-toggle="modal" data-bs-target="#editTodoModal">
                      <iconify-icon icon="heroicons-outline:pencil-alt"></iconify-icon>
                    </button>
                    <button type="button" class="transition duration-150 hover:text-danger-500 text-slate-400  delete-button">
                      <iconify-icon icon="heroicons-outline:trash"></iconify-icon>
                    </button>
                    </span>
                </div>
                </li>

                <!-- END: Todos -->
                <li class="mx-6 mt-6 " id="no-result">
                  <span class="badge bg-danger-500 text-white w-full block text-start">
        <span class="inline-flex items-center">No Result Found</span>
                  </span>
                </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="newTodoModal" tabindex="-1" aria-labelledby="newTodoModalLabel" aria-hidden="true">
        <div class="modal-dialog relative w-auto pointer-events-none">
          <div class="modal-content border-none shadow-lg relative flex flex-col lg:w-[576px] w-full pointer-events-auto bg-white bg-clip-padding
                                            rounded-md outline-none text-current">
            <div class="relative bg-white rounded-lg shadow dark:bg-slate-700">
              <!-- Modal header -->
              <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-slate-600 bg-black-500">
                <h3 class="text-base font-medium text-white dark:text-white capitalize">
                  Add Task
                </h3>
                <button type="button" class="text-slate-400 bg-transparent hover:text-slate-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center
                                                        dark:hover:bg-slate-600 dark:hover:text-white" data-bs-dismiss="modal">
                  <svg aria-hidden="true" class="w-5 h-5" fill="#ffffff" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                  </svg>
                  <span class="sr-only">Close modal</span>
                </button>
              </div>
              <!-- Modal body -->
              <div class="p-6 space-y-4">
                <form class="flex flex-col space-y-3">
                  <div class="input-area">
                    <label for="title" class="form-label">Title</label>
                    <input id="title" type="text" class="form-control" placeholder="Enter Title">
                  </div>
                  <div>
                    <label for="assigned" class="form-label">Assignee</label>
                    <select name="assigned" id="assigneds" class="form-control w-full mt-2 py-2">
                      <option value="option1" class=" inline-block font-Inter font-normal text-sm text-slate-600">Option 1</option>
                      <option value="option2" class=" inline-block font-Inter font-normal text-sm text-slate-600">Option 2</option>
                      <option value="option3" class=" inline-block font-Inter font-normal text-sm text-slate-600">Option 3</option>
                    </select>
                  </div>
                  <div>
                    <label for="default-picker" class=" form-label">Default Functionality</label>
                    <input class="form-control py-2 flatpickr flatpickr-input active" id="default-picker" value="" type="text" readonly="readonly">
                  </div>
                  <div>
                    <label for="tags" class="form-label">Tag</label>
                    <select name="tags" id="tagss" class="form-control w-full mt-2 py-2">
                      <option value="option1" class=" inline-block font-Inter font-normal text-sm text-slate-600">Option 1</option>
                      <option value="option2" class=" inline-block font-Inter font-normal text-sm text-slate-600">Option 2</option>
                      <option value="option3" class=" inline-block font-Inter font-normal text-sm text-slate-600">Option 3</option>
                    </select>
                  </div>
                  <div class="input-area">
                    <label for="textarea" class="form-label">Description</label>
                    <textarea name="textarea" id="textarea" rows="3" class="form-control" placeholder="Enter Title"></textarea>
                  </div>
                  <div class="flex items-center justify-end rounded-b dark:border-slate-600">
                    <button data-bs-dismiss="modal" class="btn inline-flex justify-center text-white bg-black-500">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="editTodoModal" tabindex="-1" aria-labelledby="editTodoModalLabel" aria-hidden="true">
        <div class="modal-dialog relative w-auto pointer-events-none">
          <div class="modal-content border-none shadow-lg relative flex flex-col lg:w-[576px] w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
            <div class="relative bg-white rounded-lg shadow dark:bg-slate-700">
              <!-- Modal header -->
              <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-slate-600 bg-black-500">
                <h3 class="text-base font-medium text-white dark:text-white capitalize">
                  Edit Task
                </h3>
                <button type="button" class="text-slate-400 bg-transparent hover:text-slate-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-slate-600 dark:hover:text-white" data-bs-dismiss="modal">
                  <svg aria-hidden="true" class="w-5 h-5" fill="#ffffff" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                  </svg>
                  <span class="sr-only">Close modal</span>
                </button>
              </div>
              <!-- Modal body -->
              <div class="p-6 space-y-4">
                <form class="flex flex-col space-y-3">
                  <div class="input-area">
                    <label for="title" class="form-label">Title</label>
                    <input id="title" type="text" class="form-control" value="Task 01" placeholder="Enter Title">
                  </div>
                  <div>
                    <label for="assigned" class="form-label">Assignee</label>
                    <select name="assigned" id="assigneds" class="form-control w-full mt-2 py-2">
                      <option value="option1" selected class=" inline-block font-Inter font-normal text-sm text-slate-600">Option 1</option>
                      <option value="option2" class=" inline-block font-Inter font-normal text-sm text-slate-600">Option 2</option>
                      <option value="option3" class=" inline-block font-Inter font-normal text-sm text-slate-600">Option 3</option>
                    </select>
                  </div>
                  <div>
                    <label for="default-picker" class=" form-label">Default Functionality</label>
                    <input class="form-control py-2 flatpickr flatpickr-input active" id="default-picker" value="" type="text" readonly="readonly">
                  </div>
                  <div>
                    <label for="tags" class="form-label">Tag</label>
                    <select name="tags" id="tagss" class="form-control w-full mt-2 py-2">
                      <option value="option1" class=" inline-block font-Inter font-normal text-sm text-slate-600">Option 1</option>
                      <option value="option2" selected class=" inline-block font-Inter font-normal text-sm text-slate-600">Option 2</option>
                      <option value="option3" class=" inline-block font-Inter font-normal text-sm text-slate-600">Option 3</option>
                    </select>
                  </div>
                  <div class="input-area">
                    <label for="textarea" class="form-label">Description</label>
                    <textarea name="textarea" id="textarea" rows="3" class="form-control" value="Lorem ipsum dolor sit amet." placeholder="Enter Title">
                                </textarea>
                  </div>
                  <div class="flex items-center justify-end rounded-b dark:border-slate-600">
                    <button data-bs-dismiss="modal" class="btn inline-flex justify-center text-white bg-black-500">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
