
    <!-- BEGIN: Breadcrumb -->
    <div class="mb-5">
      <ul class="m-0 p-0 list-none">
        <li class="inline-block relative top-[3px] text-base text-primary-500 font-Inter ">
          <a href="index.html">
            <iconify-icon icon="heroicons-outline:home"></iconify-icon>
            <iconify-icon icon="heroicons-outline:chevron-right" class="relative text-slate-500 text-sm rtl:rotate-180"></iconify-icon>
          </a>
        </li>
        <li class="inline-block relative text-sm text-primary-500 font-Inter ">
          Chart
          <iconify-icon icon="heroicons-outline:chevron-right" class="relative top-[3px] text-slate-500 rtl:rotate-180"></iconify-icon>
        </li>
        <li class="inline-block relative text-sm text-slate-500 font-Inter dark:text-white">
          Appex-Chart</li>
      </ul>
    </div>
    <!-- END: BreadCrumb -->
    <div class="space-y-5">

      <!-- BEGIN: Bar Chart -->
      <div class="card">
        <header class=" card-header">
          <h4 class="card-title">Bar Chart
          </h4>
        </header>
        <div class="card-body px-6 pb-6">
          <canvas id="chart1" class="h-[350px]" style="display: block; box-sizing: border-box; height: 350px; width: 1559px;" width="1559" height="350"></canvas>
        </div>
      </div>
      <!-- END: Bar Chart -->

      <!-- BEGIN: Horizontal Bar -->
      <div class="card">
        <header class=" card-header">
          <h4 class="card-title">Horizontal Bar
          </h4>
        </header>
        <div class="card-body px-6 pb-6">
          <canvas id="chart2" class="h-[350px]" style="display: block; box-sizing: border-box; height: 350px; width: 1559px;" width="1559" height="350"></canvas>
        </div>
      </div>
      <!-- END: Horizontal Bar -->

      <!-- BEGIN: Bar Stacked -->
      <div class="card">
        <header class=" card-header">
          <h4 class="card-title">Bar Stacked
          </h4>
        </header>
        <div class="card-body px-6 pb-6">
          <canvas id="chart3" class="h-[350px]" style="display: block; box-sizing: border-box; height: 350px; width: 1559px;" width="1559" height="350"></canvas>
        </div>
      </div>
      <!-- END: Bar Stacked -->

      <!-- BEGIN: Line Chart -->
      <div class="card">
        <header class=" card-header">
          <h4 class="card-title">Line Chart
          </h4>
        </header>
        <div class="card-body px-6 pb-6">
          <canvas id="chart4" class="h-[350px]" style="display: block; box-sizing: border-box; height: 350px; width: 1559px;" width="1559" height="350"></canvas>
        </div>
      </div>
      <!-- END: Line Chart -->

      <!-- BEGIN: Radar Chart -->
      <div class="card">
        <header class=" card-header">
          <h4 class="card-title">Radar Chart
          </h4>
        </header>
        <div class="card-body px-6 pb-6">
          <canvas id="chart5" class="h-[350px]" style="display: block; box-sizing: border-box; height: 350px; width: 1559px;" width="1559" height="350"></canvas>
        </div>
      </div>
      <!-- END: Radar Chart -->

      <!-- BEGIN: Poller Area Chart -->
      <div class="card">
        <header class=" card-header">
          <h4 class="card-title">Poller Area Chart
          </h4>
        </header>
        <div class="card-body px-6 pb-6">
          <canvas id="chart6" class="h-[350px]" style="display: block; box-sizing: border-box; height: 350px; width: 1559px;" width="1559" height="350"></canvas>
        </div>
      </div>
      <!-- END: Poller Area Chart -->
    </div>
